*{
    color:#fff;
}
.bg {
    /*background: url('../FUJITSU GENERAL.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;*/
    z-index:1;
    
}
body {
    background: url('../FUJITSU GENERAL.png') no-repeat center center fixed;
    /* width: 100%;
    height: 100%;*/
    background-size: cover;    
    background-size: 100% 100%;
    /*opacity:0.3;*/
    z-index: -1;
}
.input-validation-error{
    border:2px solid #ff0000;
}
.field-validation-error {
    color: #ff0000;
    margin-bottom: 7px;
}

.form-container {
    border: 1px solid #fff;
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
}