@model Fujitsu_eSignPO.Models.Profiles.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<div class="card o-hidden border-0 shadow-sm small">
    <form id="resetPasswordForm" novalidate class="needs-validation">

        <div class="card-header bg-primary text-white d-flex justify-content-between">
            <div class="font-weight-bold">Reset Password</div>
        </div>
        <div class="card-body pb-2 row">

            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mr-1 mb-1">
                    <label for="supplierUserName">Username : </label>


                    <input class="form-control form-control-sm" type="text" asp-for="userName" readonly />



                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="cusPassword">Old Password : </label>
                    <input  class="form-control form-control-sm" asp-for="oldPassword" placeholder="Enter Old Password">
                    <span asp-validation-for="oldPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="cusPassword">New Password : </label>
                    <input  class="form-control form-control-sm" asp-for="newPassword" placeholder="Enter New Password">
                    <span asp-validation-for="newPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="cusPassword">Confirm Password : </label>
                    <input  class="form-control form-control-sm" asp-for="confirmPassword" placeholder="Enter Confirm Password">
                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                </div>
            </div>


        </div>


    </form>
    <div class="col-md-5 mb-2">
        <button type="button" onclick="resetpass()" class="btn btn-success"><i class="fas fa-fw fa-save"></i> Save</button>
    </div>
</div>

@section scripts{
    <script src="~/js/alertbox.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function resetpass() {

            if ($("#resetPasswordForm").valid()) {


                var data = $("#resetPasswordForm").serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("resetPassword","Profiles")',
                    data: data,
                    success: function (result) {

                        alertPopup(`${result.msg}`).then((result) => {
                            if (result.isConfirmed) {
                                var url = '@Url.Action("resetPassword", "Profiles")';
                                window.location.href = url;
                            }
                        });
                        console.log(result);
                    },
                    error: function (result) {
                        alertErrorPopup(`Failed to Reset Password: ${result.responseJSON.msg}`);

                    }
                });
            }
        }
    </script>
}